{% extends 'base.html' %}
{% block title %}Serveur {{server.name}}{% endblock %}
{% block content %}
<div class="row" style="padding-left: 4%; padding-right: 2%; padding-bottom: 2%; margin-top: 50px;">
    <!-- Blog entries-->
    <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4">
            <div class="card-header">
                Console
            </div>
            <div class="card-body">
                <div data-mdb-input-init class="form-outline w-100">
                    <textarea class="form-control" rows="16" cols="33" readonly>
Salut
Comment vas tu ?
Salut
Comment vas tu ?
Salut
Comment vas tu ?
Salut
Comment vas tu ?
Salut
Comment vas tu ?
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Categories widget-->
        <div class="card mb-4">
            <div class="card-header">Catégorie</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled mb-0">
                            <li>{{server.game.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">Commandes rapide</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><a class="btn btn-secondary" href="/panel/server/start/{{server.id}}">Start</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><a class="btn btn-secondary" href="/panel/server/restart/{{server.id}}">Restart</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><a class="btn btn-danger" href="/panel/server/stop/{{server.id}}">Stop</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><a class="btn btn-primary" href="/panel/server/install/{{server.id}}">Installer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}