{% extends 'base.html' %}
{% block title %}Serveur {{server.name}}{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function updateContent() {
            $.ajax({
                url: '/panel/server/logs/{{server.id}}',
                success: function(data) {
                    var logsContent = $(data).find('#logs').html();
                    var logsTextarea = document.getElementById("logs");
                    logsTextarea.value = logsContent;
                    logsTextarea.scrollTop = logsTextarea.scrollHeight;
                }
            });
        }
        updateContent();
        setInterval(updateContent, 1000);
    });
</script>
<div class="row" style="padding-left: 4%; padding-right: 2%; padding-bottom: 2%; margin-top: 50px;">
    <!-- Blog entries-->
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-header">
                Console
            </div>
            <div class="card-body">
                <div data-mdb-input-init class="form-outline w-100">
                    <textarea id="logs" class="form-control" rows="16" cols="33" readonly>
{{logs}}
                    </textarea>
                </div>
                <div class="row" style="padding-top: 20px;">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline w-100">
                            <input type="text" class="form-control" placeholder="Envoyer une commande..">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Categories widget-->
        <div class="card mb-4">
            <div class="card-header">Catégorie</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled mb-0">
                            <li>{{server.game.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if token is not None %}
        <div class="card mb-4">
            <div class="card-header">Token</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled mb-0">
                            <li>Token admin: {{token}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="card mb-4">
            <div class="card-header">Commandes rapide</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><a class="btn btn-secondary" href="/panel/server/start/{{server.id}}">Start</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><a class="btn btn-secondary" href="/panel/server/restart/{{server.id}}">Restart</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><a class="btn btn-danger" href="/panel/server/stop/{{server.id}}">Stop</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><a class="btn btn-primary" href="/panel/server/install/{{server.id}}">Installer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}