{% extends 'base.html' %}
{% block title %}Liste des vos serveurs{% endblock %}
{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 100px; margin-top: 10px">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center text-light bg-secondary">
                    <span class="badge">Jeux</span>
                    <span class="badge">Nom</span>
                    <span class="badge">Propriétaire</span>
                    <span class="badge"> </span>
                </li>
                {% for server in servers %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge">{{server.game.name}}</span>
                    <span class="badge">{{server.name}}</span>
                    <span class="badge">{{user.username}}</span>
                    <span class="badge">
                        <a class="btn btn-primary btn-sm" href="/panel/server/{{server.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16" style="margin-right: 5px">
                            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z"/>
                        </svg>
                        Gérer</a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}