{% extends 'base.html' %}
{% block title %}Liste des vos serveurs{% endblock %}
{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 100px; margin-top: 10px;">
        <div class="col-md-12">
            <ul class="list-group">
                <div id="popup" role="alert">

                </div>
                <a href="/panel/server/create" class="btn btn-primary text-center" style="margin-bottom: 5px;">Nouveau serveur</a>
                <li class="list-group-item d-flex justify-content-between align-items-center text-light bg-secondary">
                    <span class="badge">Jeux</span>
                    <span class="badge">Nom</span>
                    <span class="badge">Propriétaire</span>
                    <span class="badge"> </span>
                </li>
                {% for server in servers %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge">{{server.game.name}}</span>
                    <span class="badge">{{server.name}}</span>
                    <span class="badge">{{user.username}}</span>
                    <span class="badge">
                        <a class="btn btn-primary btn-sm" href="/panel/server/{{server.id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-wrench" viewBox="0 0 16 16" style="margin-right: 5px">
                                <path
                                    d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z" />
                            </svg>
                            Gérer</a>
                            <button class="btn btn-danger btn-sm delete-server-btn" data-server-id="{{ server.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                                Supprimer
                            </button>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.querySelectorAll('.delete-server-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            var serverId = this.getAttribute('data-server-id');
            deleteServer(serverId);
        });
    });

    function deleteServer(serverId) {
        $.ajax({
            url: '/panel/server/delete/' + serverId,
            success: function(data) {
                var popup = document.getElementById("popup");
                popup.textContent = "Serveur supprimé avec succès !";
                console.log(data);
                console.log(data.message);
                popup.className = "alert text-center alert-success";
                $('#popup').fadeIn();

                setTimeout(function(){
                    $('#popup').fadeOut();
                    location.reload();
                }, 5000);

            },
            error: function(xhr, status, error) {
                var popup = document.getElementById("popup");
                popup.textContent = "Impossible de supprimer le serveur (Il est probablement démarré !)"
                popup.className = "alert text-center alert-danger";
                $('#popup').fadeIn();

                setTimeout(function(){
                    $('#popup').fadeOut();
                    location.reload();
                }, 5000);
            }
        });
    }
</script>
{% endblock %}