{% extends 'base.html' %}
{% block title %}Serveur {{server.name}}{% endblock %}
{% block content %}
<style>
    #popup {
        display: none;
        z-index: 9999;
    }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('#popup').fadeIn();

        setTimeout(function(){
            $('#popup').fadeOut();
        }, 5000);
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function updateContent() {
            $.ajax({
                url: '/panel/server/logs/{{server.id}}',
                success: function(data) {
                    var logsTextarea = document.getElementById("logs");
                    logsTextarea.value = data.logs;
                    logsTextarea.scrollTop = logsTextarea.scrollHeight;
                }
            });
        }

        updateContent();
        setInterval(updateContent, 1000);
    });
</script>
<div class="row" style="padding-left: 4%; padding-right: 2%; padding-bottom: 2%; margin-top: 50px;">
    <!-- Blog entries-->
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-header">
                Console
            </div>
            <div class="card-body">
                <div data-mdb-input-init class="form-outline w-100">
                    <div id="popup" role="alert" class="">
                        
                    </div>
                    <textarea id="logs" class="form-control" rows="16" cols="33" readonly>
{{logs}}
                    </textarea>
                </div>
                <form id="commandForm" class="row" style="padding-top: 20px;" method="post">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline w-100">
                            {% csrf_token %}
                            <input id="commandInput" type="text" name="command" class="form-control" placeholder="Envoyer une commande..">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Categories widget-->
        <div class="card mb-4">
            <div class="card-header">Catégorie</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled mb-0">
                            <li>{{server.game.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if token is not None %}
        <div class="card mb-4">
            <div class="card-header">Token</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled mb-0">
                            <li>Token admin: {{token}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="card mb-4">
            <div class="card-header">Commandes rapide</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><button class="btn btn-secondary" onclick="startServer()">Start</button></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><button class="btn btn-secondary" onclick="restartServer()">Restart</button></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><button class="btn btn-danger" onclick="stopServer()">Stop</button></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled mb-0">
                            <li><button class="btn btn-primary" onclick="installServer()">Installer</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function startServer() {
            $.ajax({
                url: '/panel/server/start/{{server.id}}',
                success: function(data) {
                    var popup = document.getElementById("popup");
                    popup.textContent = data.message;
                    popup.className = "alert text-center alert-success";
                    $('#popup').fadeIn();

                    setTimeout(function(){
                        $('#popup').fadeOut();
                    }, 500);
                }
            });
        }

        function stopServer() {
            $.ajax({
                url: '/panel/server/stop/{{server.id}}',
                success: function(data) {
                    var popup = document.getElementById("popup");
                    popup.textContent = data.message;
                    popup.className = "alert text-center alert-danger";
                    $('#popup').fadeIn();

                    setTimeout(function(){
                        $('#popup').fadeOut();
                    }, 5000);
                }
            });
        }

        function restartServer() {
            $.ajax({
                url: '/panel/server/restart/{{server.id}}',
                success: function(data) {
                    var popup = document.getElementById("popup");
                    popup.textContent = data.message;
                    popup.className = "alert text-center alert-primary";
                    $('#popup').fadeIn();

                    setTimeout(function(){
                        $('#popup').fadeOut();
                    }, 5000);
                }
            });
        }

        function installServer() {
            $.ajax({
                url: '/panel/server/install/{{server.id}}',
                success: function(data) {
                    var popup = document.getElementById("popup");
                    popup.textContent = data.message;
                    popup.className = "alert text-center alert-primary";
                    $('#popup').fadeIn();

                    setTimeout(function(){
                        $('#popup').fadeOut();
                    }, 5000);
                }
            });
        }

        document.getElementById('commandForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var commandValue = document.getElementById('commandInput').value;
            $.ajax({
                url: "/panel/server/command/{{server.id}}/" + encodeURIComponent(commandValue) + "/",
                success: function(data) {
                    console.log(data)
                    var popup = document.getElementById("popup");
                    popup.textContent = data.message;
                    popup.className = "alert text-center alert-success";
                    var inputText = document.getElementById("commandInput");
                    inputText.value = "";

                    $('#popup').fadeIn();

                    setTimeout(function(){
                        $('#popup').fadeOut();
                    }, 5000);
                }
            });
        });
</script>
{% endblock %}