
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion de serveur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid p-0 m-0 bg-dark text-white">
        <div class="row no-gutters">
            <div class="col-md-3 col-sm-6 col-xs-12 mb-5">
                <div class="card bg-secondary text-white h-100">
                    <div class="card-body p-4 d-flex flex-column justify-content-between">
                        <h3>Statistiques du serveur</h3>
                        <p>Nombre de joueurs connectés : 12345</p>
                        <p>Joueurs en ligne : 1000</p>
                        <p>Joueurs hors connexion : 200</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-12 mb-5">
                <div class="card bg-secondary text-white h-100">
                    <div class="card-body p-4 d-flex flex-column justify-content-between">
                        <h3>Joueurs connectés</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><img src="images/user.png" alt="User 1" width="24" height="24"> User 1</li>
                            <li class="list-group-item"><img src="images/user.png" alt="User 2" width="24" height="24"> User 2</li>
                            <li class="list-group-item"><img src="images/user.png" alt="User 3" width="24" height="24"> User 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
